.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-form{
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.form-section{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}